<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/scripts/warehouse.js"></script>
    <script src="/scripts/chart.js"></script>
    <script src="/scripts/dashboard.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
  </head>
  <body>
    <!-- #Number 2 Feature - Use of Material (Building Material, Tools, Plumbing, Fasteners, Others)
    #Number 3 Feature - Type of Material (0 lagay kapag di building material, Wood, Steel, Concrete, Ceramic) -->

    <div id="mask"></div>
    <div id="update_popup">
      <div id="container">
        <div class="close_button">×</div>
        <h2>Update Product</h2>
        <div id="product_name">
          <h4>Quadrant Name:</h4>
          <select id="quadrant_id">
            <% for(let i = 0; i < quadrants.length; i++) { %>
              <option value="<%= quadrants[i].id %>"><%= quadrants[i].name %></option>
            <% } %>
          </select>
        </div>
        <input type="hidden" name="update_product_id" id="update_product_id" />
        <div id="update_product_name">
          <h4>Product Name:</h4>
          <input type="text" name="update_product_name" placeholder="Product Name" />
        </div>
        <div id="update_product_quantity">
          <h4>Quantity:</h4>
          <input type="number" name="update_quantity" placeholder="Quantity" />
        </div>
        <div id="update_description">
          <h4>Description:</h4>
          <input type="text" name="update_description" placeholder="Description" />
        </div>
        <button id="update_button_submit">SUBMIT</button>
      </div>
    </div>
    <div id="add_product_popup">
      <div id="container">
        <div class="close_button">×</div>
        <h2>Add Product</h2>
        <h4>Select Method:</h4>
        <div id="button_container">
          <button id="automatic_add">AUTOMATIC</button>
          <button id="manual_add">MANUAL</button>
        </div>
        <div id="product_name">
          <h4>Product Name:</h4>
          <input type="text" name="product_name" placeholder="Product Name" />
        </div>
        <div id="product_quantity">
          <h4>Quantity:</h4>
          <input type="number" name="quantity" placeholder="Quantity" />
        </div>
        <div id="description">
          <h4>Description:</h4>
          <input type="text" name="description" placeholder="Description" />
        </div>

        <div id="quadrants">
          <h4>Select Quadrant:</h4>
          <% for(let i = 0; i < quadrants.length; i++) { %>
          <label for="add_product_quadrant<%= quadrants[i].id %>">
            <input type="radio" name="add_product_quadrant" class="quadrant_radio_button" value="<%= quadrants[i].id %>" id="add_product_quadrant<%= quadrants[i].id %>" /> <%= quadrants[i].name %>
          </label>
          <% } %>
        </div>

        <div id="use_of_materials">
          <h4>Use of Materials:</h4>
          <label for="uom_materials">
            <input type="radio" name="use_of_materials" class="use_of_material_radio_button" value="1" id="uom_materials" /> Building Materials
          </label>
          <label for="uom_tools">
            <input type="radio" name="use_of_materials" class="use_of_material_radio_button" value="2" id="uom_tools" /> Tools
          </label>
          <label for="uom_plumbing">
            <input type="radio" name="use_of_materials" class="use_of_material_radio_button" value="3" id="uom_plumbing" /> Plumbing
          </label>
          <label for="uom_fasteners">
            <input type="radio" name="use_of_materials" class="use_of_material_radio_button" value="4" id="uom_fasteners" /> Fasteners
          </label>
          <label for="uom_others">
            <input type="radio" name="use_of_materials" class="use_of_material_radio_button" value="5" id="uom_others" /> Others
          </label>
        </div>
        <div id="type_of_materials">
          <h4>Type of Materials:</h4>
          <label for="tom_wood">
            <input type="radio" name="type_of_materials" class="type_of_material_radio_button" value="1" id="tom_wood" /> Wood
          </label>
          <label for="tom_steel">
            <input type="radio" name="type_of_materials" class="type_of_material_radio_button" value="2" id="tom_steel" /> Steel
          </label>
          <label for="tom_concrete">
            <input type="radio" name="type_of_materials" class="type_of_material_radio_button" value="3" id="tom_concrete" /> Concrete
          </label>
          <label for="tom_ceramic">
            <input type="radio" name="type_of_materials" class="type_of_material_radio_button" value="4" id="tom_ceramic" /> Ceramic
          </label>
        </div>
        <button id="add_button_submit">SUBMIT</button>
      </div>
    </div>

    <div id="add_quadrant_popup">
      <div id="quadrant_container">
        <div class="close_button">×</div>
        <h2>Add Quadrant</h2>
        <div id="quadrant_name">
          <h4>Quadrant Name:</h4>
          <input type="text" name="quadrant_name" placeholder="Quadrant Name" />
        </div>
        <div id="quadrant_total_space">
          <h4>Total Space:</h4>
          <input type="number" name="quadrant_total_space" placeholder="Total Space" />
        </div>
        <button id="add_quadrant_button_submit">SUBMIT</button>
      </div>
    </div>

    <div id="update_quadrant_popup">
      <div id="quadrant_container">
        <div class="close_button">×</div>
        <h2>Update Quadrant</h2>
        <input type="hidden" name="quadrant_id" id="update_quadrant_id">
        <div id="update_quadrant_name">
          <h4>Quadrant Name:</h4>
          <input type="text" name="quadrant_name" placeholder="Quadrant Name" />
        </div>
        <div id="update_quadrant_total_space">
          <h4>Total Space:</h4>
          <input type="number" name="quadrant_total_space" placeholder="Total Space" />
        </div>
        <button id="update_quadrant_button_submit">SUBMIT</button>
      </div>
    </div>

    <div id="main-container">
      <div id="left-side">
        <div class="image-container">
          <a href="/dashboard">
            <img src="" alt="" />
            <p>Dashboard</p>
          </a>
        </div>
        <div class="image-container">
          <a href="/view">
            <img src="" alt="" />
            <p>View</p>
          </a>
        </div>
      </div>
      <div id="right-side">
        <div id="upper">
          <div id="upper-left">
            <h1>Warehouse Management Dashboard</h1>
            <div id="upper-left-header">
              <h2>Item List<button id="add_product">Add Product</button></h2>
  
              <div id="search">
                <input type="value" required="" value="" />
                <label>
                  <span style="transition-delay: 0ms">S</span>
                  <span style="transition-delay: 50ms">e</span>
                  <span style="transition-delay: 100ms">a</span>
                  <span style="transition-delay: 150ms">r</span>
                  <span style="transition-delay: 200ms">c</span>
                  <span style="transition-delay: 250ms">h</span>
                </label>
              </div>
            </div>
            
            <div class="itemTable">
              <table>
                <thead>
                  <tr>
                    <th>Quadrant</th>
                    <th>Item Name</th>
                    <th>Update</th>
                    <th>Remove</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody id="item_list">
                </tbody>
              </table>
            </div>

          </div>
          <div id="upper-right">
            <div id="quadrant_usage">
              <h4>Warehouse Space</h4>
              <div id="chart_container">
                <canvas id="myDonutChart" width="300" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div id="lower">
          <div id="lower-left">
            <h1>List of Quadrants <button id="add_quadrant">Add Quadrant</button> <button id="select_all_button">Select all</button> <button id="deselect_button">Clear Selection</button></h1>
            <div id="quadrant_list">
              <% for(let i = 0; i < quadrants.length; i++) { %>
                <label class="quadrant" for="quadrant<%= quadrants[i].id %>">
                  <input class="quadrant_checkbox" checked type="checkbox" name="quadrant" value="<%= quadrants[i].id %>" id="quadrant<%= quadrants[i].id %>" /> <h4><%= quadrants[i].name %></h4>
                  <h4>Free Space: <%= quadrants[i].free_space %></h4>
                  <div>
                    <% if(i > 7) {%>
                    <button class="delete quadrant_button" value="<%= quadrants[i].id %>">Delete</button>
                    <% } %>
                    <button class="update quadrant_button" quadrant-id="<%= quadrants[i].id %>" quadrant-name="<%= quadrants[i].name %>" quadrant-total-space="<%= quadrants[i].total_space %>">Update</button>
                  </div>
                </label>
              <% } %>
            </div>
          </div>
          <div id="lower-right">
            <h4>Top moving products</h4>
            <ol id="tmp">
              <% for (let i = 0; i < top_products.length; i++) {%>
                <li><%= top_products[i].name %></li>
              <% } %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
