<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="stylesheets/view.css">
</head>
<body>
  <div class="container">
    <nav>
      <div class="image_container">
        <a href="/dashboard">
          <img src="" alt="" />
          <p>Dashboard</p>
        </a>
      </div>
      <div class="image_container">
        <a href="/view">
          <img src="" alt="" />
          <p>View</p>
        </a>
      </div>
    </nav>
    <div id="main">
      <div class="left">
        <div class="top">
          <h2>Product Movement
            <select id="selected_year">
              <% for(let i = current_year; i >= 2000 ; i--) { %>
                  <option <%= i === current_year ? 'selected' : '' %>><%= i %></option>
              <% } %>
          </select>          
          </h2>
          <div id="chart_container">
            <canvas id="productLogsChart"></canvas>
          </div>
        </div>
        <div class="bottom">
          <h2>Critical Items</h2>
          <table>
            <thead>
              <th>Quadrant</th>
              <th>Item Name</th>
              <th>View</th>
              <th>Quantity</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div class="right">
        <div class="container">
          <h2>EDIT PRODUCT</h2>
          <label for="title">
            <h4>Name: </h4>
            <input name="name" type="text" id="name" value="Please view a product" />
          </label>
          <label for="description">
            <h4>Description: </h4>
            <textarea oninput="auto_grow(this)" name="description" id="description">Please view a product</textarea>
          </label>
          <label for="quantity">
            <h4>Quantity: </h4>
            <input type="number" name="quantity" id="quantity" />
          </label>
          <label for="quadrant">
            <h4>Quadrant Name:</h4>
            <select id="quadrant_id">
              <% for(let i = 0; i < quadrants.length; i++) { %>
                <option value="<%= quadrants[i].id %>"><%= quadrants[i].name %></option>
              <% } %>
            </select>
          </label>
        </div>
      </div>
    </div>
  </div>
  
  <div id="quadrant_list" style="display: none;">
    <% for(let i = 0; i < quadrants.length; i++) { %>
      <label class="quadrant" for="quadrant<%= quadrants[i].id %>" style="background-image: linear-gradient(90deg, darkslategray 65%, darkgray 35%);">
        <input class="quadrant_checkbox" checked type="checkbox" name="quadrant" value="<%= quadrants[i].id %>" id="quadrant<%= quadrants[i].id %>" /> <%= quadrants[i].name %>
      </label>
    <% } %>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/scripts/view.js"></script>
</body>
</html>